BasedOnStyle: Google
---
Language: Cpp
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLambdasOnASingleLine: Empty
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: false
PackConstructorInitializers: Never
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: AfterComma
